.mainTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.mainTextHeader {
  font-size: 43px;
  color: #00151a;
}

.mainTextBody {
  font-size: 24px;
  color: #55666a;
  width: 100%;
}
