.verify_container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 70px;
  padding: 5vh 2.5%;
}
.verify_head_content {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
}

.reset_head_content,
.new_password_head_content {
   display: flex;
  flex-direction: column;
  width: 60%;
 gap: 15%;
}

.reset_body_content {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1.5em;
}

.logo_container {
  align-self: flex-end;
  width: 25%;
}
.verify_body_content {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1.5em;
}
.verify_btn {
  background-color: #007e99;
  border: 0;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.35em;
  margin-top: 40px;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.verify_btn:hover {
  background: #006980;
}
.verify_btn:active {
  background: #005466;
  box-shadow: 0 0 40px #b7b7b7;
  background-color: #b7b7b7;
}

.code-error-container {
display: flex;
flex-direction: column;
gap: 0.3em
}

.code-digit-container {
  display: flex;
  justify-content: space-between;
}

.code-digit {
  height: 160px;
  width: 21%;
  border: 1px solid #aab2b4;
  border-radius: 4px;
  font-size: 40px;
  text-align: center;
}
.code-digit::-webkit-inner-spin-button,
.code-digit::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.code-digit:focus {
  outline: 1.5px solid #007e99;
}

.auth_text {
  font-size: 20px;
  align-self: flex-start;
  margin-top: 32px;
}
.no_code {
  text-align: center;
  text-decoration: none;
  color: #55666a;
  font-weight: 500;
  cursor: pointer;
  font-size: 19px;
  width: 90%;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.form-label {
  font-size: 1.1em;
  font-weight: 700;
  padding-top: 16px;
}
.email-box,
.password-field {
  padding: 0px 10px;
  border-radius: 4px;
  height: 35px;
  border: 1px solid #aab2b4;
  width: 100%;
  font-size: 16px;
}
.email-box:focus,
.password-field:focus {
  outline: none;
}
.email-box::placeholder,
.password-field::placeholder {
  font-size: 14px;
  opacity: 0.4;
  font-style: italic;
}
.form_control_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.errorMsg {
  color: red;
  font-size: 16px;
  margin: 0;
  opacity: 0.7;
}
.resend_btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: #55666a;
}
