.auth_image {
  width: 40%;
  height: 100%;
}
.verify_container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 72px;
  padding: 2.5% 3%;
}
.verify_head_content,
.reset_head_content,
.new_password_head_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reset_head_content,
.new_password_head_content {
  justify-content: space-between;
  margin-bottom: 18%;
}
.new_password_head_content {
  margin-bottom: 10%;
}
.logo_container {
  align-self: flex-end;
}
.verify_body_content {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}
.verify_btn {
  background: #007e99;
  border: 0;
  color: white;
  font-size: 1em;
  padding: 18px 32px;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  font-size: 24px;
  margin-top: 48px;
}
.verify_btn:hover {
  background: #007e99;
}
.verify_btn:focus {
  transition: 5s;
}
input[type="number"] {
  margin: 16px;
  height: 20vh;
  width: 10vw;
  border: 1px solid #aab2b4;
  border-radius: 5px;
  font-size: 10rem;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.auth_text {
  font-size: 20px;
  align-self: flex-start;
}
.no_code {
  align-self: center;
  font-size: 1.5em;
}
.hide {
  display: none;
}
.verify_btn_container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.form-label {
  font-size: 20px;
}
input[type="text"],
input[type="password"] {
  padding: 11px 16px;
  border: 1px solid #aab2b4;
}
.form_control_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 36px;
}
