.mainTextContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.mainTextHeader {
    font-size: 2.5em;
    color:#00151A;
}

.mainTextBody {
    font-size: 1.5em ;
    color: #55666A;
}