  .background-one {
      background-image: url("../assets/Ellipse\ 36.svg");
      height: 100%;
      background-position: 100% top;
      background-repeat: no-repeat;
      background-size: 65vw;
      padding-bottom: 0.5rem;
  }

  .form-wrapper {
      display: flex;
      align-items: center;
      gap: 0.2em;

  }

  .main-div {
      display: flex;
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 0%;
      padding-top: 8rem;
      height: 95vh;

  }

  .p-one {
      font-family: Urbanist;
      font-weight: 700;
      color: #007E99;
  }

  .h-one {
      font-family: Urbanist;
      font-weight: 700;
      color: #00191f;

  }

  .my-image img {
      width: 100%;
      /* padding-right: 5%; */
      /* position: absolute; */

  }

  .child-div {
      margin-top: 8rem;
      font-size: x-large;

  }

  .my-image {
      display: flex;
      justify-content: flex-end;
  }

  .notify-btn {
      background: #007e99;
      padding: 15px 0px;
      margin-left: 115px;
      width: 70%;
      border: 0;
      font-size: 0.5em;
      border-radius: 5px;
      color: #ffffff;

      &:hover {
          background-color: #006980;
          transition: ease-in-out 0.3s;
      }
    }
    .my-email{
        width: 175%;
        padding: 8px 0 8px 5px;
        border: 1px solid #cbcbcb;
        border-radius: 5px;
        font-size: 0.5em;
        &:focus {
          outline: 1px solid #007e99;
    }
}