.background-one {
  background-image: url("../assets/Ellipse\ 36.svg");
  background-position: 100% top;
  background-size: 80%;
  background-repeat: no-repeat;
}
.main-div img:hover {
transform: scale(1.05);
  transition: 1s ease-in-out;
}

.main-div img {
   animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;;
  }
  100% {
    opacity: 1;
  }
}

.form-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}

.not-spam {
  font-size: 18px;
  font-weight: 600;
}

.main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 6.5% 0%;
}

.p-one {
  font-family: Urbanist;
  font-weight: 900;
  background-image: conic-gradient(from 180deg at 50% 50%, rgba(0, 126, 153, 0.68) 0deg, rgba(0, 126, 153, 0.49) 360deg), linear-gradient(211.54deg, rgba(0, 126, 153, 0.5) 6.43%, rgba(0, 126, 153, 0.91) 23.31%, rgba(0, 126, 153, 0.85) 33.02%, rgba(0, 126, 153, 0.91) 50.92%, rgba(0, 126, 153, 0.5) 71.37%, rgba(0, 126, 153, 0.520203) 84.15%, rgba(0, 126, 153, 0.5) 92.33%);
  -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
  font-size: 36px;
}

.h-one {
  font-family: Urbanist;
  font-weight: 900;
  font-size: 55px;
  color: #00191f;
}

.my-image  {
  width: 50%;
  margin-top: 10%;
}

.child-div {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}

.notify-btn {
  background: #007e99;
  height: 55px;
  width: 30%;
  border: 0;
  font-size: 1em;
  border-radius: 5px;
  color: #ffffff;
}
.notify-btn:hover {
  background-color: #006980;
  transition: ease-in-out 0.3s;
}

.form-wrapper form {
  width: 70%;
}


.my-email {
  width: 100%;
  height: 45px;
  padding-left: 8px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  font-size: 1em;
}

.my-email:focus {
    outline: 1px solid #007e99;
}
