.cardGraphContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.7em;
    row-gap: 0.5em;
    padding: 3% 3%;
}

.tremorCard {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  color: #00151a;
  width: 195px;
  padding: 15px 10px;
  background: #ffffff;
  border: 1px solid #e6f2f5;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 16px;
}

.iconContainer {
  padding: 5px 15px;
  width: fit-content;
  background: #cce5eb;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 10px;
}

.cardTremorIcon {
  width: 20px;
}

.cardTremorMetric {
  font-size: 18px;
}

.cardTremorText {
  font-size: 14px;
}
