.cardGraphContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1%;
}

.dashCard {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  color: #00151a;
  width: 19.2%;
  height: fit-content;
  padding: 15px 10px;
  background: #ffffff;
  border: 1px solid #e6f2f5;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 16px;
}

.iconContainer {
  padding: 5px 15px;
  width: fit-content;
  background: #cce5eb;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 10px;
}

.cardIcon {
  width: 20px;
}

.cardMetric {
  font-size: 20px;
  font-weight: bold;
}

.cardText {
  font-size: 12px;
}

.line-chart-container {
  width: 39.4%;
  height: 200px;
  background: #ffffff;
  border: 1.10609px solid #e6f2f5;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 17.6974px;
  padding: 10px;
}

.recharts-legend-item {
  font-size: 0.7em;
  margin-bottom: 10px;
}

.recharts-surface {
   display: inline-block !important;
  margin-right: 6px !important;
  vertical-align: baseline !important;
}

.line-bar-container {
  display: flex;
  column-gap: 1%;
}

@media screen and (max-width: 768px) {
  .cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

  .dashCard {
  width: fit;
  height: fit-content;
  padding: 15px 10px;
  background: #ffffff;
  border: 1px solid #e6f2f5;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 16px;
}

.line-bar-container {
  display: flex;
   flex-direction: column;
 gap: 1em;
}

.line-chart-container {
  width: 100%;
  height: 200px;
}

}