.createAccount_parentContainer {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 5vh 2.5%;
  width: 100%;
  color: #00151a;
  background-color: #ffffff;
}

.createAccountContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.onboardingImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 40%;
  height: 90vh;
  background-color: #007e99;
  border-radius: 16px;
  color: #ffffff;
}

.onboardingGraph {
  width: 80%;
}

/* .onboardingGraph {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.onboardingTextContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.3em;
}

.safe_easy {
  font-size: 33px;
  font-weight: 900;
}

.insight_click {
  font-size: 20px;
  font-weight: 500;
  width: 470px;
}

.loanwiselogo-container {
  align-self: flex-end;
  width: 25%;
}

.formInputContainer,
.passwd,
.confirmPswd {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.formInputContainerVerify {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 90%;
}

.input-error-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 40px;
}

.verifyInput {
  display: flex;
  justify-content: space-between;
}

.verifyInput input {
  height: 160px;
  width: 21%;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  background: transparent;
  font-size: 40px;
  text-align: center;
}

.verifyInput input:focus {
  outline: 1.5px solid #007e99;
}

.invalid-token,
.registered-user {
  font-size: 18px;
  color: red;
}

.registered-user a {
font-size: 18px;
  color: red;
  font-weight: bold;
}

.resend_OTP {
  text-decoration: underline;
  cursor: pointer;
}

.createAccount {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1.5em;
}

.createAccount_form {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.createAccount_form label {
  font-size: 1.1em;
  font-weight: 700;
}

.createAccount_form .inputDiv {
  border-radius: 5px;
  border: 1.1px solid #cbcbcb;
  padding: 0 10px;
  width: 100%;
}

/* .createAccount_form .inputDiv:focus {
  outline: 1.5px solid #007e99;
} */

.createAccount_form input::placeholder,
.createAccount_form .QuestionAnswer select .selectedOption {
  opacity: 0.4;
  font-style: italic;
  font-size: 14px;
}

.createAccount_form input:not(.radio-btn) {
  width: 100%;
  border: 0;
  height: 35px;
  font-size: 1em;
  border-radius: 5px;
  outline: 0;
  background: transparent;
}

.createAccount_form .passwordContainer {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.7em;
}

.createAccount_form .passwordContainer .passwd,
.createAccount_form .passwordContainer .confirmPswd {
  width: 50%;
}

.signUpErrorMsg {
  opacity: 0.7;
  font-size: 16px;
  color: red;
}

.passwordToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passwordToggle img {
  filter: invert(24%) sepia(81%) saturate(2450%) hue-rotate(171deg)
    brightness(97%) contrast(102%);
}

.radioBtnContainer {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.3em;
}

.radio-btn {
  width: 15px;
  height: 15px;
  appearance: none;
  -webkit-appearance: none;
  outline: 1px solid #006980;
  border-radius: 50%;
}

.radio-btn:checked {
  border-radius: 50%;
  background: #006980;
  border: 3px solid #fff;
}

.createAccountBtn {
  background-color: #007e99;
  border: 0;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.35em;
  margin-top: 20px;
}

.createAccountBtn:hover {
  background-color: #006980;
}

.toLoginPageBtn {
  text-align: center;
  text-decoration: none;
  color: #55666a;
  font-weight: 500;
  cursor: pointer;
  font-size: 19px;
}

.createAccount_form .QuestionAnswer-Container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1em;
}

.createAccount_form .QuestionAnswer {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.createAccount_form .QuestionAnswer select {
  border-radius: 5px;
  border: 1.1px solid #cbcbcb;
  padding: 0 10px;
  width: 100%;
  height: 37px;
  font-size: 1em;
  background: transparent;
}

.no_OTP {
  text-align: center;
  text-decoration: none;
  color: #55666a;
  font-weight: 500;
  cursor: pointer;
  font-size: 19px;
  width: 90%;
}

@media screen and (max-width: 720px) {
  .onboardingImg {
    display: none;
  }

  .createAccount_parentContainer {
  height: 100vh;
}

.createAccountContainer {
  width: 100%;
  height: 100%;
}

.createAccount,
.formInputContainerVerify {
  width: 100%;
padding: 0 5%;
}

.createAccount_form .passwordContainer {
  flex-direction: column;
  align-items: start;
  gap: 0.4em;
}

.createAccount_form .passwordContainer .passwd,
.createAccount_form .passwordContainer .confirmPswd {
  width: 100%;
}

.input-error-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 40px;
}

.verifyInput input {
  height: 100px;
  font-size: 24px;

}

.createAccountBtn {
  height: 40px;
  font-size: 1.2em;
  margin-top: 10px;
}

.createAccount_form {
  gap: 0.3em;
}

.createAccount_form label {
  font-size: 1em;
}

.toLoginPageBtn {
  font-size: 1.1em;
}

.no_OTP {
  font-size: 1.1em;
}

.radioBtnContainer {
  font-size: 0.9em;
  font-weight: normal;
  justify-content: left;
}

.radio-btn {
  width: 12px;
  height: 12px;
}
}