.exitingRule-container {
  width: 50%;
  margin: 2em auto;

  padding: 1.5em;
  background-color: white;
  box-shadow: 0 0 10px 1px rgba(237, 236, 236, 0.966);
}
.rule-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 2em 2em;
  text-align: center;
}
.edit-text {
  padding-bottom: 1.5em;
}
.select-option-below {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.select-option-below button {
  color: white;
  background-color: #007e99;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 11px 16px;
  gap: 5px;
}
.btn {
  align-self: flex-end;
  width: 25%;
}
.save-btn {
  width: 100%;
  color: white;
  background-color: #007e99;
  padding: 0.625em;
  border: none;
  border-radius: 5px;
  margin-top: 2.5em;
}
.condition-button {
  font-size: 0.75rem;
}
