.filterArea {
    display: flex;
    color: #007E99;
    align-items: center;
    gap: 0.2rem;
    border: 2px solid #CCE5EB;
    padding: 1em 2rem;
    font-weight: 600;
    position: relative;
    width: max-content;
}

.filter_options {
    width: max-content;
    gap: 0.8em;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #E6F2F5;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 0;
    top: 0%;
    left: 0%;
  }

.filter_options span {
    color: #007E99;
    font-weight: bold;
    gap: 0.8em;
}

.filterContainer {
    position: relative;
}