.filterArea {
    display: flex;
    color: #007E99;
    align-items: center;
    gap: 0.2rem;
    border: 2px solid #CCE5EB;
    padding: 1em 2rem;
    font-weight: 600;
    position: relative;
    width: max-content;
}

.filterArea:hover {
    color: #eee;
}

.filterArea:hover img {
    fill: #fff;
  }

  .filll {
    fill: #fff;
  }

.filter_options {
    width: max-content;
    gap: 0.8em;
    position: absolute;
    right: 33%;
    display: flex;
    flex-direction: column;
    background-color: #E6F2F5;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 0;
    top: 0%;
    left: 0%;
  }

.filter_options span {
    color: #007E99;
    font-weight: bold;
    gap: 0.8em;
    cursor: pointer;
}

.filter_options span:hover {
    color: #22a9ca;

}

.filterContainer {
    position: relative;
}

@media screen and (max-width: 768px) {

.filterArea {
    padding: 0.5em 3px;
}

.filterArea span {
    display: none;
}

.filterArea img {
  width: 24px;
}
}