.filterArea {
    display: flex;
    color: #007E99;
    align-items: center;
    gap: 0.2rem;
    border: 2px solid #CCE5EB;
    padding: 0 2rem;
    font-weight: 600;
    position: relative;
    width: max-content;
}
  
.filter_options {
    position: absolute;
    top: calc(100% - 57.5rem);
    right: 30rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 2;
    width: max-content;
    transform: translateX(-50%);
  }
  