#clock {
  width: 38px;
}
#history {
  display: flex;
  align-items: center;
  gap: 5px;
}

#history p {
  font-size: 18px;
}

.checklist-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#checklist {
  display: flex;
  align-items: center;
  gap: 0.8em;
  color: #343753;
}

#checklist img {
  width: 3%;
}

#buttons {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.home_container {
  padding: 150px 6.5% 3%;
}

.home_container img:hover {
  transform: scale(1.02);
  transition: 0.5s ease-in-out;
}

/* .home_container img {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;;
  }
  100% {
    opacity: 1;
  }
} */

.learnMore {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0px 0.8em;
  border: 1px solid #006980;
  border-radius: 5px;
  color: #006980;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
}

.learnMoreText {
  text-decoration: none;
}

.learnMore img {
  width: 30px;
}

.learnMore:hover {
  background: #007e99;
  color: #ffffff;
}

.learnMore:hover .learn-img {
  filter: invert(1) brightness(10);
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 0 4%;
}

.about-uss {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4% 0;
}

.special-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4% 0 0;
}

.special-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover-section {
  display: flex;
  padding: 5% 0;
  align-items: self-start;
  justify-content: space-between;
}

.discover-text {
  width: 820px;
}

.arrow-image {
  width: 12%;
}

.all_text {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}

.home-image {
  width: 50%;
}

.section-image {
  width: 50%;
}
.specialFeature-image {
  width: 55%;
}
.loanDefault-image {
  width: 55%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 40%;
}

.home-header {
  color: #00191f;
  font-weight: 600;
  font-size: 55px;
  width: 100%;
}

.home-text {
  color: #343753;
  font-weight: 400;
  font-size: 16px;
  width: 90%;
}

.home-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 45%;
}

.home-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 45%;
}

.feature-section {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  padding: 5% 0;
}

.amazing-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 75px 65px;
  width: 35%;
  border-radius: 15px;
  background-color: #11252a;
  color: #ffffff;
}

.amazing-features:hover {
  background-color: #009967;
  transition: ease-in-out 0.5s;
}

.amazing-text {
  font-size: 49px;
}

.featureArrow-image {
  width: 50%;
}

.featuresCard-container {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 2em;
  width: 65%;
}

.featureCard-container {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  height: 100%;
  padding: 50px;
  background-color: #f3f8f7;
  border-radius: 15px;
}

.featureCard-container:hover {
  background-color: #007e99;
  color: #ffffff;
  transition: ease-in-out 0.3s;
}

.featureIcon {
  border-radius: 50%;
  width: fit-content;
  background-color: #80becc;
  padding: 7px 7px 4px;
}

.featureCard-container:hover .featureIconImg {
  filter: invert(1) brightness(10);
}

.featureCard-container:hover .featureIcon {
  background-color: #003a47;
}

.featureIconImg {
  width: 25px;
}

.featureText {
  width: 100%;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .home_container {
    padding: 100px 4% 3%;
  }

  .hero-section {
    flex-direction: column;
    gap: 2em;
  }

  .hero-text {
    width: 100%;
    align-items: center;
  }

  .home-text {
    text-align: center;
    width: 100%;
    font-size: 0.85em;
  }

  .all_text {
    align-items: center;
  }

  #history p {
    font-size: 14px;
    font-weight: bold;
  }

  #clock {
    width: 24px;
  }

  .home-header {
    font-size: 1.5em;
    text-align: center;
  }

  .learnMore {
    padding: 10px 0.8em;
    font-size: 0.85em;
  }

  .learnMore img {
    width: 20px;
  }

  .about-uss,
  .feature-section,
  .special-one,
  .special-two {
    flex-direction: column;
    gap: 2em;
  }

  .section-image,
  .home-image,
  .specialFeature-image,
  .loanDefault-image {
    width: 90%;
  }

  .feature-section {
    flex-direction: column;
  }

  .discover-section,
  .about-uss {
    padding: 40px 0;
  }

  .amazing-features {
    width: 100%;
    padding: 20px 5%;
    gap: 1em;
  }

  .arrow-image {
    display: none;
  }

  .amazing-text {
    font-size: 1.5em;
    text-align: center;
  }

  .featureArrow-image {
    width: 70px;
    rotate: 135deg;
  }

  .featuresCard-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 4%;
  }

  .featureCard-container {
    padding: 20px 20px;
     flex: 1 48%;
  }

  .featureText {
    font-size: 1em;
    width: 100%
  }

  .home-right,
  .home-left {
    width: 100%;
    padding-top: 30px;
  }

  .special-one {
    flex-direction: column-reverse;
    padding-top: 30px;
  }

  .special-two {
    padding-top: 20px;
  }
}
