.taable {
  width: 100%;

}

.scroll-table {
  width: 100%;
}

.ths {
  text-align: left;
  padding: 1.2em 0;
  background-color: #e6f2f5;
  font-weight: 700;
  font-size: 18px;
}

.table-link {
  color: #00151a;
  text-decoration: none;
}

.tds {
  padding: 1.75em 0;
  font-weight: 700;
}

.trs {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.tds:nth-child(6) button {
  color: white;
  border-radius: 1rem;
  border: none;
}

.Active,
.Completed,
.Defaulted,
.Declined,
.Approved {
  display: flex;
  align-items: center;
}

.Active button {
  background-color: #17a937;
  padding: 0.375em;
  width: 120px;
  border-radius: 16px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.Completed button {
  background-color: #fd7123;
  padding: 0.375rem;
  width: 120px;
  border-radius: 16px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.Defaulted button {
  background-color: #ff2e2e;
  padding: 0.375rem;
  width: 120px;
  border-radius: 16px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.ths,
.tds {
  padding-left: 10px;
}

.pagination-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.pagiNumbs {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pagiNumbs button,
.pagiNumbs p {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pagiNumbs button.active {
  font-weight: bold;
  background-color: #007e99;
  color: white;
  padding: 3px 8px;
  border-radius: 50%;
}

/* Borrower's details */

.borrowers {
  margin-top: 20px;
}

.borrowersDetailsContainer {
  display: grid;
  grid-template-columns: 45% 53%;
  gap: 2%;
}

.borrowersDetails {
  display: flex;
  flex-direction: column;
  gap: 4em;
  width: 100%;
  height: 100%;
  background-color: #E6F2F5;
  padding: 30px 30px 70px ;

}

.borrowersDetails img {
  width: 40%;
  align-self: center;
}

.details-minus-image {
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}

.loan-history {
  gap: 0.7em;
}

.history-border,
.details-border {
  display: flex;
  width: 100%;
   justify-content: space-between;
   align-items: center;
}

.details-minus-image div span:nth-of-type(1) {
  font-weight: bold;
  font-size: 18px;
  color: #00151a;
}

.details-minus-image div span:nth-of-type(2),
.details-minus-image p {
  font-size: 18px;
  color: #55666A;
}

.details-history-analysis {
  background-color: #E6F2F5;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  height: 100%;
}

.loan_container {
padding: 0px 30px 70px ;
}

.dha-links {
  display: flex;
  justify-content: center;
  gap: 1em;
  border-bottom: 1px solid #B0D7DF80;
  padding: 15px 0;
}

.dha-links a {
  text-decoration: none;
  font-size: 20px;
  color: #55666A;
  padding-bottom: 2px;
  font-weight: bold;
}

.dha-links .active {
  border-bottom: 1.8px solid #007e99;
  color: #007E99;
}

.analysis-container {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 50px 30px;
}

.analysis-result {
  display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: center;
  gap: 1.5em;
  text-align: center;
}

.analysis-result img {
  width: 30%;
}

.analysis-result span {
  font-size: 20px;
}

.analysis-result button {
  width: fit-content;
  padding: 15px 25px;
  border: 0;
  border-radius: 5px;
  background: #007E99;
  color: #ffffff;
  font-size: 16px;
}

.history-border {
  padding: 0 15px;
  height: 70px;
  background-color: #ffffff;
}

.history-date {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.history-date-span2 {
  font-size: 14px;
}

.loan-p {
    font-weight: 600;
    font-size: 1.5rem;
    width: fit-content;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.table-contain {
  margin-top: 50px;
}

@media screen and (max-width: 768px){
.borrowersDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.borrowersDetails {
  padding: 30px 20px 70px;
}

.borrowersDetails img {
  width: 140px;
}

.details-history-analysis {
  gap: 1em;
}

.details-minus-image div span:nth-of-type(1) {
  font-size: 1em;
}

.details-minus-image div span:nth-of-type(2), .details-minus-image p {
  font-size: 1em;
}

.dha-links a {
  font-size: 1.1em;
}

.borrowers {
  margin-top: 0px;
}

.loan_container {
  padding: 0px 20px 50px;
}

.scroll-table {
  width: 85vw;
   overflow-x: scroll;
}

 .taable {
  width: 700px;
  }

  .explore {
    font-size: 1.2em;
  }

  .overviewHeader {
  font-size: 1.2em;
}

.ths {
  font-size: 1em;
}

.tds {
  font-size: 0.85em;
}

}