.tab-data {
    height: 2.5rem;
}

 .customer .sec-th{
padding-top: 12px;
padding-bottom: 12px;
text-align: right;
padding-right: 20px;
border-bottom: 1px solid rgba(176, 215, 223, 0.5);
 }

 .customer{
    width: 100%;
    background-color: #E6F2F5;
    /* padding-bottom: 15px; */
    
 }

 .first-th{
    width: 70%;
    border-bottom: 1px solid rgba(176, 215, 223, 0.5);
 }

.customer .ts-style{
    text-align: right;
    padding-right: 20px;
 }

 .customer td{
    padding-left: 20px;
 }

 