.btn {
  align-self: flex-end;
  margin-bottom: 20px;
}

.portfolio-button {
  font-size: 0.75rem;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: #007e99;
}
.cardGraphContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin: 10px 30px;
}



.line-chart-container2 {
  width: 50%;
  background: #ffffff;
  border: 1.10609px solid #e6f2f5;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 17.6974px;
  padding: 10px;
}

.line-chart-container2 span {
  text-align: center;
  font-size: 14px;
  color: #050505;
  align-self: center;
}

.line-bar-container2 {
  display: flex;
  column-gap: 0.7em;
}

  .DownloadBtn {
    padding: 10px 48px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #007e99;
  }

  .chart{
    display: flex;
    gap: 20px;
  }
  .customerSort{
    display: flex;
    gap: 120px;
    align-items: center;
  }
  .customerID{
    display: flex;
    gap: 180px;
    align-items: center;
    border: 1px solid grey;
    padding: 5px;

  }

  .select-option {
    display: flex;
    flex-direction: column;
  }
  .select-option select {
    padding: 8px 16px;
    margin-top: 5px;
  }

  .OverviewContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 480px;
    margin: 30px 0px;
  }
  .overviewHeader{
    font-size: 25px;

  }


table {
  border-collapse: collapse;
  width: 100%;
}

th {

  /* width: 12.54rem; */
  text-align: left;
  height: 3.5rem;
  background-color: #E6F2F5;
  font-weight: 600;
}

td {
  height: 3.5rem;
  font-weight: 500;
}

tr:focus{
  cursor: pointer;
}

td:nth-child(6) button{
  color: white;
  border-radius: 1rem;
  border: none;
}

.Approved button {
  background-color: #17A937;
  padding: 0.375rem 2.31rem;
}

.Declined button {
  background-color: #FF2E2E;
  padding: 0.375rem 2.39rem;
}

th, td {
  padding-left: 0.3rem;
}

.loanhiistory {
  text-decoration: none;
  color: #007E99;
}

.pagiNumbs {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  height: fit-content;
  width: fit-content;
  justify-content: start;
}

p {
  font-size: 0.875rem;
  font-weight: 500;
}

.pagiNumbs button.active {
  font-weight: bold;

  padding: 5px;
  border-radius: 50%;
}
.pagiNumbs button {
  border: none;
  cursor: pointer;
}
