.btn {
  align-self: flex-end;
  margin-bottom: 20px;
}
.portfolio-button {
  font-size: 0.75rem;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: #007e99;
}
.cardGraphContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin: 10px 30px;
}



.line-chart-container2 {
  width: 50%;
  background: #ffffff;
  border: 1.10609px solid #e6f2f5;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 17.6974px;
  padding: 10px;
}

.line-chart-container2 span {
  text-align: center;
  font-size: 14px;
  color: #050505;
  align-self: center;
}

.line-bar-container2 {
  display: flex;
  column-gap: 0.7em;
}

  .DownloadBtn {
    padding: 10px 48px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #007e99;
  }

  .chart{
    display: flex;
    gap: 20px;
  }
  .customerSort{
    display: flex;
    gap: 120px;
    align-items: center;
  }
  .customerID{
    display: flex;
    gap: 180px;
    align-items: center;
    border: 1px solid grey;
    padding: 5px;

  }

  .select-option {
    display: flex;
    flex-direction: column;
  }
  .select-option select {
    padding: 8px 16px;
    margin-top: 5px;
  }

  .Approved button {
    border-radius: 16px;
    color: white;
    background-color: green;
    padding: 4px 8px;
    border: none;
  }
  .Declined button {
    border-radius: 16px;
    color: white;
    background-color: red;
    padding: 4px 8px;
    border: none;
  }

  .tableRowItems {
    cursor: pointer;
  }
   .tableCell {
    padding: 12px;
    font-size: 14px;
    color: grey;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  th{
    text-align: left;
    background-color: #E6F2F5;
    padding: 16px 10px;
  }

.OverviewContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 480px;
    margin: 30px 0px;
  }
  .overviewHeader{
    font-size: 25px;

  }

  .PortfolioHistory{
    text-decoration: none;
    color: rgb(164, 217, 250);
  }
  .tableLinks{
    text-decoration: none;
    color: black;
  }

  .pagination{
    display: flex;
    justify-content: end;
    width: min-content;
    height: min-content;
  }