.searchArea {
    width: fit-content;
    display: flex;
}

.searchInput {
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 30em;
    font-weight: 600;
    border: 1px solid #AAD4DD;
}

.searchInput:focus {
    outline: none;
}

.searchButtton {
    padding: 1rem 2rem 1rem 2rem;
    font-weight: 400;
    color: white;
    background-color: #007E99;
    border: 2px solid #007E99;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

.searchButtton.clicked {
    box-shadow: 5px 0 0px 5px rgba(0, 0, 0, 0.2);
}

.searchButtton:hover {
    cursor: pointer;
}

.searchInput::placeholder {
    color: #00151A;
    font-weight: 600;font-size: 1.1rem;

}

@media screen and (max-width: 768px) {
    .searchArea {
    width: 100%;
}

    .searchInput {
  font-size: 0.85em;
  width: 80%;
  padding: 0.85em 10px;
}

.searchButtton {
    padding: 0.85em 0;
    width: 20%;
}
}