.loanwise_card_container {
  font-family: "Urbanist";
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: #00151a;
  width: 100%;
  padding-bottom: 48px;
}
.loanwise_card_container_heading {
  font-weight: 700;
  font-size: 2.5em;
  margin: 0;
}
.card1_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-column-gap: 32px;
  row-gap: 0;
  margin: 0;
  width: 90%;
  /* padding: 24px; */
  text-align: center;
}
.card1_content {
  background-color: #ffffff;
  border: 1px solid #aab2b4;
  margin: 20px auto;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  color: rgb(25, 25, 25);
  transition: border 0.25s ease-in-out;
}
.card1_content:hover {
  box-shadow: 0 15px 5px rgba(0, 0, 0, 0.3);
  border: none;
}
.card1_content p {
  font-size: 16px;
}
.card1_image {
  width: 122px;
  height: 122px;
}
.card1_container p {
  color: #55666a;
  margin: 0;
  margin-bottom: 32px;
}
.loanwise_card_container_text {
  width: 55%;
  text-align: center;
  color: #55666a;
}
.button2 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  margin: auto;
  border: 1px solid #006980;
  border-radius: 5px;
  color: #006980;
  font-size: 16px;
  font-weight: 400;
}
.button2:hover {
  background: #007e99;
  color: #ffffff;
}
.react-icon1 {
  font-size: 32px;
}
.pricing {
  padding: 1rem 4rem;
}
.text-header {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.text-header h3 {
  color: #00191f;
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.row {
  display: flex;
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.price-card {
  border: 1px solid #aad4dd;
  border-radius: 17.5px;
  padding: 20px;
  width: 300px;
  height: 700px;
  text-align: center;
}

.price-card.active {
  border: 10px solid #006980;
  border-top: 25px solid #006980;
  width: 310px;
  height: 750px;
}

.price-card h3 {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 24px;
}
.price-card p {
  font-size: 0.8rem;
}

.price-card .price {
  margin: 0;
  font-size: 3rem;
}

.price-card .price sup {
  font-size: 1.2rem;
}

.price-card .price-label {
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: left;
  padding-left: 5px;
}

.price-card .price-discount {
  font-size: 1.5rem;
  color: #777;
  text-decoration: line-through;
}

.price-card .price-discount sup {
  font-size: 1rem;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}
.outline-button {
  background: transparent;
  border: 1px solid #006980;
  padding: 10px 15px;
  border-radius: 5px;
  color: #006980;
  width: 100%;
}

.outline-button:hover {
  background-color: #007e99;
  color: white;
  border: 1px solid #007e99;
  transition: ease-in-out 0.1s;
}

.fill-button {
  background: #007e99;
  border: 0;
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  width: 100%;
}

.fill-button:hover {
  background-color: #006980;
  transition: ease-in-out 0.3s;
}

ul {
  list-style: none;
  padding: 0;
}

.price-card ul {
  list-style: none;
  text-align: left;
}
.price-card ul li {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.price-card ul li img {
  margin-right: 0.5rem;
}
.pricing-option-card {
  border: 1px solid #e5e5e5;
  width: 25%;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-option-card img {
  margin: auto;
}

.pricing-option-card h4 {
  font-size: 0.9rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0.6rem;
}

.pricing-option-card p {
  font-size: 0.6rem;
  text-align: center;
}
.pricing-option-card .button-section {
  width: 70%;
  margin: auto;
  margin-top: 1rem;
}
.faqs li {
  margin: 0;
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faqs li:last-child {
  border-bottom: 1px solid #ccc;
}

.faq-content h4 {
  font-size: 3rem;
  padding-left: 2rem;
  color: #1e1e1c;
  font-weight: 200;
}

.faq-content {
  margin: auto;
  padding: 2rem 5%;
}

.Logo-loanwise {
  width: 100%;
  height: 100%;
}
.faq-accordion {
  display: flex;
  justify-content: space-between;
}
.faq-answer {
  background-color: #ccc;
  margin: 0;
  padding: 20px 0;
  line-height: 1rem;
}
.price {
  display: flex;
  align-items: center;
}
