.loanwise_card_container {
  font-family: "Urbanist";
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: #00151a;
  width: 100%;
  padding-bottom: 48px;
}
.loanwise_card_container_heading {
  font-weight: 700;
  font-size: 2.5em;
  margin: 0;
}
.card1_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-column-gap: 32px;
  row-gap: 0;
  margin: 0;
  width: 90%;
  /* padding: 24px; */
  text-align: center;
}
.card1_content {
  background-color: #ffffff;
  border: 1px solid #aab2b4;
  margin: 20px auto;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  color: rgb(25, 25, 25);
  transition: border 0.25s ease-in-out;
}
.card1_content:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border: none;
}
.card1_content p {
  font-size: 16px;
}
.card1_image {
  width: 122px;
  height: 122px;
}
.card1_container p {
  color: #55666a;
  margin: 0;
  margin-bottom: 32px;
}
.loanwise_card_container_text {
  width: 55%;
  text-align: center;
  color: #55666a;
}
.button2 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  margin: auto;
  border: 1px solid #006980;
  border-radius: 5px;
  color: #006980;
  font-size: 16px;
  font-weight: 400;
}
.button2:hover {
  background: #007e99;
  color: #ffffff;
}
.react-icon1 {
  font-size: 32px;
}
.text-header {
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.text-header h3 {
  color: #00191f;
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 10px;
}
/* .text-header p {
  width: 80%;
  text-align: center;
} */
.text-header a {
  color: #1d79e5;
  font-weight: 700;
}
.pricing-row {
  display: flex;
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
  margin-bottom: 96px;
}

.justify-center {
  justify-content: center;
}

.price-card {
  border: 1px solid #aad4dd;
  border-radius: 17.5px;
  padding: 20px;
  width: 350px;
  height: 620px;
  text-align: center;
}

.price-card.active {
  border: 1px solid #006980;
  background: #006980;
  padding: 20px 5px 8px;
  width: 360px;
  height: 700px;
}
.price-card.active ul {
  padding: 16px 24px;
  /* margin: 16px 0; */
}
.premium-price-content.active {
  background: #e6f2f5;
  height: 100%;
  border-radius: 5px;
  padding-right: 5px;
}
.premium-head-content.active {
  background: #ffffff;
  /* border-radius: 5px; */
  border-top-left-radius: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.price-card h3 {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 36px;
}
.price-card p {
  font-size: 0.8rem;
}

.price-card .price {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}

.price-card .price sup {
  font-size: 1.2rem;
}

.price-card .price-label {
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: left;
  padding-left: 5px;
}

.price-card .price-discount {
  font-size: 1.5rem;
  color: #777;
  text-decoration: line-through;
}

.price-card .price-discount sup {
  font-size: 1rem;
}
.two_buttons {
  display: flex;
  gap: 4px;
}
.align-start {
  align-items: start;
}
.outline-button {
  background: transparent;
  border: 1px solid #007e99;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: #007e99;
  width: 100%;
}

.outline-button:hover {
  background-color: #007e99;
  color: white;
  border: 1px solid #007e99;
  transition: ease-in-out 0.1s;
}

.fill-button {
  background: #007e99;
  border: 0;
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  /* width: 100%; */
}

.fill-button:hover {
  background-color: #006980;
  transition: ease-in-out 0.3s;
}

.pricing_list {
  list-style: none;
  padding-top: 48px;
}
.pricing_list li {
  margin-top: 24px;
}

.price-card ul {
  list-style: none;
  text-align: left;
}
.price-card ul li {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.price-card ul li img {
  margin-right: 0.5rem;
}
.pricing-option-card {
  border: 1px solid #e5e5e5;
  width: 25%;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-option-card img {
  margin: auto;
}

.pricing-option-card h4 {
  font-size: 0.9rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0.6rem;
}

.pricing-option-card p {
  font-size: 0.6rem;
  text-align: center;
}
.pricing-option-card .button-section {
  width: 70%;
  margin: auto;
  margin-top: 1rem;
}
.faqs li {
  margin: 0;
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faqs li:last-child {
  border-bottom: 1px solid #ccc;
}

.faq-content h4 {
  font-size: 2em;
  padding: 0;
  color: #1e1e1c;
  font-weight: 400;
  padding-bottom: 16px;
}

.faq-content {
  margin: auto;
  padding: 2rem 5%;
}

.Logo-loanwise {
  width: 100%;
  height: 100%;
}
.faq-accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.faq-question {
  display: flex;
  justify-content: space-between;
}
.faq-question:hover {
  color: #006980;
}

.faq-answer {
  margin: 0;
  padding: 20px 0;
  line-height: 1rem;
}
.price {
  display: flex;
  align-items: center;
}
.minus {
  font-size: 24px;
  color: #006980;
}
.plus {
  font-size: 20px;
}

/* User Preference Styling */
.appearance_settings{
  margin: 24px;
  padding:12px;
  font-weight: 600;
}

.para_toggle{
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}

.frame_one{
  margin: 24px ;
}
.frame_two{
  margin: 24px ;
}

#frame_three{
  margin: 12px ;
}
#frame_three_notif{
  margin-top: 3.9rem;
  border: 1px solid #000000;
}
.frame_three_contents{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-left: 18px;
  padding: 1.5rem;
}
.headings{
  margin-top: 0.9rem;
  padding: 16px 8px;
}
.headings p{
  font-size: 18px; 
}
.toggle-container{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3px;
}
.toggle-button{
  /* margin: 6px 3px; */
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toggle{
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.toggle p{
  margin-left: 16px;
  font-weight: 900;
}
#frame_three_input{
  margin-top: 20px;
  padding: 16px;
  border: 1px solid #000000;
}
#frame_input_heading{
  padding-top: 16px;
  padding-bottom: 22px;
}
#frame_input_heading h4{
font-weight: 600;
padding-bottom: 4px;
}
#frame_input_heading p{
  color: #00191F;
  margin-bottom: 12px;
}
#frame_input h5{
 padding: 8px;
}
/* User Preference Link */
.user-p-box{
  width: 100%;
  box-shadow: 0 0 12px 0px #007d995a;
  padding: 0.5em 1.5em;
  margin-bottom: 15px;
}
#user-p-link{
  font-weight: lighter;
}
#back-btn img{
height: 35px;
} 
#back-btn img:hover{
  box-shadow: whitesmoke;
}
#back-btn p{
  margin: 0;
  font-size: 20px;
}
#back-btn{
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  align-items: center;
  cursor: pointer;
}
