* {
  box-sizing: border-box;
  font-family: "Urbanist";
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.rightContent {
  margin-top: 15vh;
  padding: 40px 50px 40px 320px;
}

input[type = "password"] {
  font: large Verdana;
  font-weight: bolder;
}
